body {
  width: 100%;
  background-color: #ffffee;
}
.gift {
  position: relative;
  width: 100%;
  padding-top: 110%;
}
.heart {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
